@model IEnumerable<appFermento_Natural_E_commerce.Models.Pao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Pães Quentes</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Pães</a>
</p>
@if (Model.Any())
{
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                
                <table class="table table-striped">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.tipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.tipoFermentacao)</td>
                                <td>@Html.DisplayFor(modelItem => item.fornada)</td>
                                <td>@Html.DisplayFor(modelItem => item.preco)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Detalhes</a>
                                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <img src="~/Imagens/CaixaVazia.png" style="max-width: 300px;" />
        <p style="font-size: 4em; font-weight: bold;">Ainda não há pães cadastrados.</p>
    </div>
}
